<nav class=" flex justify-between">
    <a class="font-bold text-lg" href="/">EJS Is Fun</a>
    <ul class="flex gap-20">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blogs/create">New Blog</a>
        </li>
    </ul>
</nav>