<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="flex flex-col h-full justify-center items-center">
        <h2 class="mb-4 font-bold text-xl">Page not found</h2>
        <a href="/">
            <button class="rounded-md px-4 border-2 border-[#FFEDDF] py-3">
                Go To Home Page
            </button>
        </a>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>